# Core LangChain packages
langchain
langchain_community
langchain-text-splitters
langchain-openai
langchain_huggingface
langchain_chroma
langchain-groq

# Utilities
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
faiss-cpu
duckdb
pandas
openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub

# Search tool
duckduckgo-search==5.3.1b1


